<div class="container text-center border">
  <p>Check this project on my <a href="https://github.com/ashakiran07/rails-watch-list" target="_blank"><i class="fab fa-github"></i></a> Github.</p>
</div>
